---
layout: page
title: Airspace
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">
          <font color="{{ site.fontcolor }}">
          גם לי יש ילד שסובל מקשב וריכוז
          <br />
           ADHD ו/או בעיית ויסות חושי
          </font>
          </h1>
          <p class="animated fadeInUp">
          <font color="{{ site.fontcolor }}">
          	
קושי יומיומי בהתנהלות החל מרגע התעוררות בבוקר ועד שהילד הולך לישון...
<br />
כל דבר קטן מטריד את שלוותו והופך לתסכול שמביא עימו התקפי זעם, בכי כעס וחוסר שליטה...
<br />
קשיים חברתים, בדידות, התקפי זעם, תסכול שלנו ההורים, חוסר היכולת לעזור, איבוד השליטה שלנו שגורר לפיצוץ בין בני הזוג, מריבות שמכניסות המון מתח וכעס – 
<br />
תחושה של חיים בתוך רכבת הרים.
<br />
נשמע לך מוכר?
          </font>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>
            <font color="{{ site.fontcolor }}">
            "כשההפרעה מקבלת קשב"
            </font>
            </h2>
            <p>
            <font color="{{ site.fontcolor }}">
            <b>
כאן אני נכנסת לתמונה, עם תכנון ועיצוב חדר רגיעה עבור הילד - חדר "לגעת  בכל החושים"
מה הוא בעצם החדר הזה?
            </b>
            </font>
            </p>
          </div>
          <p>
חדר רגיעה "לגעת בכל בחושים" הוא למעשה החדר של הילד, המתוכנן ומותאם עבורו אישית, חדר הנוגע בכל החושים,  מאפשר "ניטרול הגירויים הסביבתיים" ו״הפחתת הרעשים״ באופן המאפשר לילד ניתוק סביבתי, שקט פנימי והתחברות לאני העצמי שלו.
<br />
באמצעות שמנים ריחניים שנרקחים במיוחד עבורו, תאורה מיוחדת שמותאמת, ואלמנטים מהעולם המקצועי הטיפולי המותאמים במיוחד בשבילו.
<br />
ריחות, תאורה מגוונת, מוסיקה מותאמת ומצע רך ועוטף עבור הילד – מספקים לו את האינטגרציה החושית המטיבה עמו ומאפשרת לו מקום וזמן להרגע בו, ע"מ שאחכ יוכל לתקשר בצורה נינוחה יותר עם הסביבה.
          </p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <p> <font color="{{ site.fontcolor }}">
      המרכיב החשוב הוא נגישות וזמינות החדר המאפשרים לו יותר זמן רגיעה ובכך גם יותר תקשורת חברתית יעילה ומספקת עם סביבתו. כך הוא מגרה את כל החושים המרכזיים במוח ומגיע למקומות רגועים יותר עם עצמו וכמובן עם הסביבה.
      </font></p>
      <p><font color="{{ site.fontcolor }}">
      ילדים הסובלים מבעיית קשב וריכוז ברמות כאלה ואחרות, אף סובלים מהתקפי זעם בלתי נשלטים. חדר שכזה מיוחד ומותאם אישית לצרכיהם, מפחית משמעותית את עוצמות הזעם ותדירות הופעתן ומכניס אווירה הרבה יותר רגועה ונינוחה לילד וכמובן גם למשפחה.
      </font></p>
    </div>
  </div>
</div>
</section>

<!-- Service Start 
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Our Services</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-coffee"></i>
          <h4>Branding</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-compass"></i>
          <h4>Web Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-image"></i>
          <h4>App Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-bug"></i>
          <h4>Start Up</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-headphone"></i>
          <h4>Logo Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-leaf"></i>
          <h4>Development</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-planet"></i>
          <h4>Brand Identity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-earth"></i>
          <h4>Brand Identity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
    </div>
  </div>
</section>
-->
<!-- Call to action Start
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>We design delightful digital experiences.</h2>
          <p>Read more about what we do and our philosophy of design. Judge for yourself The work and results we’ve achieved for other clients, and meet our highly experienced Team who just love to design.</p>
          <a class="btn btn-default btn-call-to-action" href="#" >Tell Us Your Story</a>
        </div>
      </div>
    </div>
  </div>
</section>
-->
<!-- Content Start 
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
-->
